<!--------------------------------------------------------------------------------------------------------------------->
<!-- footer.vue                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
	<div class="site-footer pt-4">
		<b-container>
			<div class="d-flex justify-content-between">
				<div id="social-links">
					<a href="https://www.twitter.com/EDENfallcast" target="_blank">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
          <a href="mailto:contact@edenfallcast.com" target="_top">
            <i class="fa fa-envelope fa-lg"></i>
          </a>
				</div>

				<div>
					<p style="font-size: 12px">© 2018-2019 Tweedle Creative LLC. All Rights Reserved.</p>
				</div>

				<a id ="to-top" href="#" class="on">
					<span class="fa-stack">
						<i class="fa fa-arrow-up">
						</i>
					</span>
				</a>
			</div>
		</b-container>
	</div>

</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
	.site-footer {
		padding-bottom: 25px;
		background-color: #00002E;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}


	#to-top {
		color: gray;
	}

	a {
		i.fa {
			color: #D3D3D3;
		}
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
	//------------------------------------------------------------------------------------------------------------------


	//------------------------------------------------------------------------------------------------------------------

	export default {
		data()
		{
			return {

			};
		}

	}
</script>

<!--------------------------------------------------------------------------------------------------------------------->

