<!--------------------------------------------------------------------------------------------------------------------->
<!-- Characters Page                                                                                                 -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
  <div class="img-col">
    <img class="img-responsive" src="../static/images/characterArt/JayDee.PNG" alt="Jay Dee">
    <img class="img-responsive" src="../static/images/characterArt/Vestal.PNG" alt="Vestal">
    <img class="img-responsive" src="../static/images/characterArt/ArtieChen.PNG" alt="Artie Chen">
    <img class="img-responsive" src="../static/images/characterArt/Dot.PNG" alt="Dot">
  </div>
</template>
<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
  .img-responsive {
    max-width: 330px;
    height: 450px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
  export default {

  }
</script>

<!--------------------------------------------------------------------------------------------------------------------->

