<!--------------------------------------------------------------------------------------------------------------------->
<!-- Main Page                                                                                                       -->
<!--------------------------------------------------------------------------------------------------------------------->

<template class="header">
  <section class="container">
    <div>
        <h1 class="title">
          EDENfallcast
        </h1>
        <h2 class="subtitle">
          Audio drama coming soon
        </h2>
    </div>
  </section>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .container {
      max-width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: {
        image: url("../static/images/tempbackground.jpeg");
        repeat: no-repeat;
        position: center;
        attachment: fixed;
        color: #00002E;
        display: flex;
      }
    }

    .title {
      font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      display: block;
      font-weight: 300;
      font-size: 100px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      letter-spacing: 1px;
    }

    .subtitle {
      font-weight: 300;
      font-size: 42px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      word-spacing: 5px;
      padding-bottom: 15px;
    }

    .links {
      padding-top: 15px;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>

export default {
  components: {
  }
}
</script>

<!--------------------------------------------------------------------------------------------------------------------->


